<h1>Add a Recipe</h1>

<div class="form-group">
  <form action="/recipes" method="post">
    <label for="recipe_name">Enter a Recipe Name</label>
    <input required type="text" name="recipe_name" id="recipe_name" class="form-control">
    <br>
    <label for="">Enter the Instructions</label>
    <textarea required type="text" name="instructions" rows="6" class="form-control"></textarea>
    <br>
    <label for="">Enter all ingredients</label>
  <div align="center">
    <input type="text" name='ingredient1' id='ingredient1'>
    <input type="text" name='ingredient2' id='ingredient2'>
    <input type="text" name='ingredient3' id='ingredient3'>
    <input type="text" name='ingredient4' id='ingredient4'><br>
    <br>
    <input type="text" name='ingredient5' id='ingredient5'>
    <input type="text" name='ingredient6' id='ingredient6'>
    <input type="text" name='ingredient7' id='ingredient7'>
    <input type="text" name='ingredient8' id='ingredient8'><br>
    <br>
    <input type="text" name='ingredient9' id='ingredient9'>
    <input type="text" name='ingredient10' id='ingredient10'>
    <input type="text" name='ingredient11' id='ingredient11'>
    <input type="text" name='ingredient12' id='ingredient12'><br>
    <br>
    <button name="submit_recipe" id="submit_recipe" class="btn btn-success" type="submit">Submit Recipe</button>
  </div>
  </form>
</div>
