<h1>Add a Recipe</h1>

<div class="form-group">
  <form action="/recipes" method="post">
    <label for="recipe_name">Enter a Recipe Name</label>
    <input type="text" name="recipe_name" id="recipe_name" class="form-control">
    <br>
    <label for="">Enter the Instructions</label>
    <textarea type="text" name="instructions" rows="6" class="form-control"></textarea>
    <br>
    <label for="">Enter all ingredients</label>
    <!-- make a group of forms so that the user can enter ingredients. use validators to make sure that no blank forms get passed as ingredients. -->
  <div align="center">
    <input type="text" name='ingredient1' id='ingredient1'>
    <input type="text" name='ingredient2' id='ingredient2'>
    <input type="text" name='ingredient3' id='ingredient3'>
    <input type="text" name='ingredient4' id='ingredient4'><br>
    <br>
    <button name="submit_recipe" id="submit_recipe" class="btn btn-warning" type="submit">Submit Recipe</button>
  </div>
  </form>
</div>
