<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
  <li><a href="/category/<%= category.id %>"><%= category.name %></a></li>
<% end %>
</ul>
<br>
<h3>Add a Category</h3>
<br>
<div class="form-group">
  <form action="/categories" method="post">
    <label for="category_name">Enter a Category Name</label>
    <input type="text" name="category_name" id="category_name" class="form-control">
    <br>
    <button name="submit_category" id="submit_category" class="btn btn-warning" type="submit">Submit Category</button>
  </div>
  </form>
</div>
