<div align="center">


  <h1>Welcome to Martha Stewart's Insider Trading Recipebook</h1>
  <h3>Select an option below</h3>
<br>
  <a href="/recipes/new" class="btn btn-warning" role="button" id="add_recipe">Add a Recipe</a>
  <a href="/recipes" class="btn btn-warning" role="button" id="view_recipes">View Recipes</a>
</div>
